<div class="bqn-80">
  <canvas class="canvas" width="240" height="136"
    style="display:block; width: 100%; image-rendering: pixelated; margin-bottom:4px;"></canvas>
  <div class="frametime" style="float:right"></div>
  <button class="button-reload">RUN! (shift-enter)</button>
  <button class="button-stop">STOP!</button>
  <pre class="error" style="color: brown"></pre>
  <pre><code class="source" style="width: 100%; height: 8em;">{{ include.code }}</code></pre>
  <div class="charcount" style="float: right"></div>
</div>