<div class="bqn-80">
  <!-- Taken and modified from dancek/bqn-80
  (more specifically totallyuniquelily/bqn-80-embed ) -->
  <canvas class="canvas" width="240" height="136"
    style="display:block; width: 100%; image-rendering: pixelated; margin-bottom:4px;"></canvas>
  <div class="frametime" style="float:right"></div>
  <button class="button-reload">RUN!</button>
  <button class="button-stop">STOP!</button>
  <pre class="error" style="color: brown"></pre>

  <pre><code class="source" style="width: 100%; height: 8em;">{{ include.code }}</code></pre>
  
  <div class="charcount" style="float: right"></div>
  <div style="clear:both"/>
</div>